    <div class="current">
        <div class="current-icon">
            <img id="current-icon" src="/icons/day.svg" alt="sunny">
        </div>

        <div class="current-forecast">
            <span id="cf-weather-main">Clear</span>
            <h4 id="cf-temp">20.00</h4>
            <h5 id="cf-feels">20.00</h5>
        </div>

        <div class="current-detailed">
            <h4 id="cd-sunrise-title">Sunrise</h4>
            <p id="cd-sunrise"> -- </p>

            <h4 id="cd-sunset-title">Sunset</h4>
            <p id="cd-sunset"> -- </p>

            <h4 id="cd-pressure-title">Pressure</h4>
            <p id="cd-pressure"> -- </p>

            <h4 id="cd-humidity-test">Humidity</h4>
            <p id="cd-humidity"> -- </p>

            <h4 id="cd-dew-point-title">Dew Point</h4>
            <p id="cd-dew-point"> -- </p>

            <h4 id="cd-uv-index-title">UV Index</h4>
            <p id="cd-uv-index"> -- </p>

            <h4 id="cd-wind-title">Wind</h4>
            <p id="cd-wind"> -- </p>

            <h4 id="cd-visibility-title">Visibility</h4>
            <p id="cd-visibility"> -- </p>
        </div>
    </div>