<div class="daily">
    <div id="day-placeholder" class="day-placeholder">
        <span><strong>7 DAY FORECAST</strong></span>
    </div>
</div>

{{!-- <div id="SAMPLE CONTENTS AFTER API CALL">
        <div id="fd-unit-1" class="fd-unit">
        <span class="fd-day">THU</span>
        <span class="fd-date">7/16/2020</span>
        <span class="fd-desc">heavy intensity rain</span>
        <span class="fd-icon">
            <img src="/icons/rainy-sunny.svg" alt="heavy intensity rain">
        </span>
        <span class="fd-temp">22.58</span>
        <span class="fd-feels-like">22.79</span>
        <span class="fd-night">21.53</span>
        <span class="fd-humidity">85</span>
        <span class="fd-wind">4.93 ESE</span>
        <span class="fd-uv-index">8.93</span>
        <span class="fd-sunrise">5:50 AM</span>
        <span class="fd-sunset">8:55 PM</span>
    </div>
    <div id="fd-unit-2" class="fd-unit">
        <span id="fd-day-2">FRI</span>
        <span id="fd-date-2">7/17/2020</span>
        <span id="fd-desc-2">clear sky</span>
        <span id="fd-icon-2">
            <img src="/icons/day.svg" alt="clear sky">
        </span>
        <span id="fd-temp-2">27.64</span>
        <span id="fd-feels-like-2">26.85</span>
        <span id="fd-night-2">23.81</span>
        <span id="fd-humidity-2">46</span>
        <span id="fd-wind-2">3.41 SSW</span>
        <span id="fd-uv-index-2">8.31</span>
        <span id="fd-sunrise-2">5:51 AM</span>
        <span id="fd-sunset-2">8:55 PM</span>
    </div>
    <div id="fd-unit-3" class="fd-unit">
        <span id="fd-day-3">SAT</span>
        <span id="fd-date-3">7/18/2020</span>
        <span id="fd-desc-3">few clouds</span>
        <span id="fd-icon-3">
            <img src="/icons/cloudy-day.svg" alt="few clouds">
        </span>
        <span id="fd-temp-3">29.47</span>
        <span id="fd-feels-like-3">30.19</span>
        <span id="fd-night-3">24.8</span>
        <span id="fd-humidity-3">53</span>
        <span id="fd-wind-3">3.51 SW</span>
        <span id="fd-uv-index-3">8.63</span>
        <span id="fd-sunrise-3">5:52 AM</span>
        <span id="fd-sunset-3">8:54 PM</span>
    </div>
    <div id="fd-unit-4" class="fd-unit">
        <span id="fd-day-4">SUN</span>
        <span id="fd-date-4">7/19/2020</span>
        <span id="fd-desc-4">moderate rain</span>
        <span id="fd-icon-4">
            <img src="/icons/rainy-sunny.svg" alt="moderate rain">
        </span>
        <span id="fd-temp-4">30.41</span>
        <span id="fd-feels-like-4">29.56</span>
        <span id="fd-night-4">24.38</span>
        <span id="fd-humidity-4">54</span>
        <span id="fd-wind-4">6.52 SSW</span>
        <span id="fd-uv-index-4">8.92</span>
        <span id="fd-sunrise-4">5:53 AM</span>
        <span id="fd-sunset-4">8:53 PM</span>
    </div>
    <div id="fd-unit-5" class="fd-unit">
        <span id="fd-day-5">MON</span>
        <span id="fd-date-5">7/20/2020</span>
        <span id="fd-desc-5">clear sky</span>
        <span id="fd-icon-5">
            <img src="/icons/day.svg" alt="clear sky">
        </span>
        <span id="fd-temp-5">28.14</span>
        <span id="fd-feels-like-5">25.35</span>
        <span id="fd-night-5">21.89</span>
        <span id="fd-humidity-5">43</span>
        <span id="fd-wind-5">5.97 WNW</span>
        <span id="fd-uv-index-5">9.13</span>
        <span id="fd-sunrise-5">5:54 AM</span>
        <span id="fd-sunset-5">8:52 PM</span>
    </div>
    <div id="fd-unit-6" class="fd-unit">
        <span id="fd-day-6">TUE</span>
        <span id="fd-date-6">7/21/2020</span>
        <span id="fd-desc-6">overcast clouds</span>
        <span id="fd-icon-6">
            <img src="/icons/cloudy.svg" alt="overcast clouds">
        </span>
        <span id="fd-temp-6">24.47</span>
        <span id="fd-feels-like-6">23.71</span>
        <span id="fd-night-6">23.21</span>
        <span id="fd-humidity-6">55</span>
        <span id="fd-wind-6">3.31 SE</span>
        <span id="fd-uv-index-6">8.98</span>
        <span id="fd-sunrise-6">5:55 AM</span>
        <span id="fd-sunset-6">8:51 PM</span>
    </div>
    <div id="fd-unit-7" class="fd-unit">
        <span id="fd-day-7">WED</span>
        <span id="fd-date-7">7/22/2020</span>
        <span id="fd-desc-7">overcast clouds</span>
        <span id="fd-icon-7">
            <img src="/icons/cloudy.svg" alt="overcast clouds">
        </span>
        <span id="fd-temp-7">27.05</span>
        <span id="fd-feels-like-7">27.97</span>
        <span id="fd-night-7">23.76</span>
        <span id="fd-humidity-7">54</span>
        <span id="fd-wind-7">2.05 E</span>
        <span id="fd-uv-index-7">8.56</span>
        <span id="fd-sunrise-7">5:56 AM</span>
        <span id="fd-sunset-7">8:50 PM</span>
    </div>
</div> --}}
