<ul id="forecast-hourly" class="hourly">
    <li id="hourly-placeholder" class="fh-unit hourly-placeholder">
        <span><strong>HOURLY FORECAST</strong></span>
    </li>
</ul>

{{!-- <ul id="SAMPLE HOURLY FORCAST">
        <li id="fh-unit-0" class="fh-unit">
        <span id="time-0">NOW</span><span id="hour-icon-0">
            <img src="/icons/day.svg" alt="clear sky">
        </span>
        <span id="temp-0">27.96°C</span>
    </li>
    <li id="fh-unit-1" class="fh-unit">
        <span id="time-1">9:00 PM</span>
        <span id="hour-icon-1">
            <img src="/icons/cloudy.svg" alt="scattered clouds">
        </span>
        <span id="temp-1">28.48°C</span>
    </li>
    <li id="fh-unit-2" class="fh-unit">
        <span id="time-2">10:00 PM</span>
        <span id="hour-icon-2">
            <img src="/icons/rainy-light.svg" alt="light rain">
        </span>
        <span id="temp-2">28.49°C</span>
    </li>
    <li id="fh-unit-3" class="fh-unit">
        <span id="time-3">11:00 PM</span>
        <span id="hour-icon-3">
            <img src="/icons/rainy-light.svg" alt="light rain">
        </span>
        <span id="temp-3">27.87°C</span>
    </li>
    <li id="fh-unit-4" class="fh-unit">
        <span id="time-4">12:00 AM</span>
        <span id="hour-icon-4">
            <img src="/icons/cloudy.svg" alt="overcast clouds">
        </span>
        <span id="temp-4">27.22°C</span>
    </li>
    <li id="fh-unit-5" class="fh-unit">
        <span id="time-5">1:00 AM</span>
        <span id="hour-icon-5">
            <img src="/icons/rainy-light.svg" alt="light rain">
        </span>
        <span id="temp-5">26.69°C</span>
    </li>
    <li id="fh-unit-6" class="fh-unit">
        <span id="time-6">2:00 AM</span>
        <span id="hour-icon-6">
            <img src="/icons/rainy-light.svg" alt="moderate rain">
        </span>
        <span id="temp-6">25.89°C</span>
    </li>
    <li id="fh-unit-7" class="fh-unit">
        <span id="time-7">3:00 AM</span>
        <span id="hour-icon-7">
            <img src="/icons/rainy-light.svg" alt="moderate rain">
        </span>
        <span id="temp-7">25.29°C</span>
    </li>
    <li id="fh-unit-8" class="fh-unit">
        <span id="time-8">4:00 AM</span>
        <span id="hour-icon-8">
            <img src="/icons/rainy-light.svg" alt="moderate rain">
        </span><span id="temp-8">24.81°C</span>
    </li>
    <li id="fh-unit-9" class="fh-unit">
        <span id="time-9">5:00 AM</span>
        <span id="hour-icon-9">
            <img src="/icons/rainy-light.svg" alt="moderate rain">
        </span>
        <span id="temp-9">24.41°C</span>
    </li>
    <li id="fh-unit-10" class="fh-unit">
        <span id="time-10">6:00 AM</span>
        <span id="hour-icon-10">
            <img src="/icons/rainy-sunny.svg" alt="moderate rain">
        </span>
        <span id="temp-10">23.93°C</span>
    </li>
    <li id="fh-unit-11" class="fh-unit">
        <span id="time-11">7:00 AM</span>
        <span id="hour-icon-11">
            <img src="/icons/rainy-sunny.svg" alt="moderate rain">
        </span>
        <span id="temp-11">23.53°C</span>
    </li>
</ul> --}}