<div class="outside-bar">
    <div class="nav-bar">
        <img class="logo" src="/img/weather.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="/">Weather</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </nav>
    </div>
</div>