<div class="weather-animated">
    <div class="location-title">
        <span id="location">Weston, Ontario, Canada</span>
    </div>

    <div class="current-weather">
        <div class="main-left">
            <img src="/icons/day.svg" alt="sun">
            <span id="current_main_desc">Sunny</span>
        </div>

        <div class="main-center">
            <span id="current_temperature" class="temperature">25°c</span>
        </div>

        <div class="main-right">
            <span id="current_wind_speed" class="wind">Wind: 20 kmph</span>
            <span id="current_precip" class="precip">Precip: 0 mm</span>
            <span id="current_pressure" class="pressure">Pressure: 1016 mb</span>
        </div>
    </div>

    <div class="forecast-week">
        <div class="day">
            <span class="day-name">MON</span>
            <img src="/icons/cloudy.svg" alt="cloudy">
            <span class="temperature">27 °c</span>
        </div>

        <div class="day">
            <span class="day-name">TUE</span>
            <img src="/icons/rainy-light.svg" alt="rainy">
            <span class="temperature">28 °c</span>
        </div>

        <div class="day">
            <span class="day-name">WED</span>
            <img src="/icons/cloudy-day.svg" alt="partially cloudy">
            <span class="temperature">29 °c</span>
        </div>

        <div class="day">
            <span class="day-name">THU</span>
            <img src="/icons/rainy-heavy.svg" alt="rainy">
            <span class="temperature">29 °c</span>
        </div>

        <div class="day">
            <span class="day-name">FRI</span>
            <img src="/icons/rainy-light.svg" alt="rainy">
            <span class="temperature">28 °c</span>
        </div>
    </div>
</div>